* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  list-style-type: none;
}

a,
a:visited {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

body {
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
}

ul{
  list-style-type: none;
}

.app {
  &.dark-mode {
      background-color: black;
      color: white;

      button{
          color: white;

      }
  }
}
